html {
	background-color: grey;
}

.form {
	display: inline-block;
	vertical-align: middle;
	margin: auto;

}

.form label { display: block; }

#submit { width: 100%; }

.results th {
	font-weight: bold;
	text-align: center;
	border-bottom: thick;
}

h1 {
	text-align: center;
}

table, td {
	border-collapse: collapse;
	border: thin solid black;
}

div {
	border: thin black;
	margin: auto;
	width: 50%;

}

fieldset button {
	margin-top: 1em;
}
