form {
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding: 4px;
	margin-top: 10px;
}

.form label {
	display: block;
}

#submit {
	width: 100%;
}

#results {
	font-weight: bold;
	text-align: center;
	border-bottom: thick;
	float: left;
	width: 50%;
}

div.w3-margin {
	
	margin: 0px;
	margin-left: 10px;
	
}

table, td {
	border-collapse: collapse;
	border: thin solid black;
}



fieldset button {
	margin-top: 1em;
}
